<div class="page_container" id="home_gallery" >

  <div hide-sm class="title_container" layout="column" layout-align="space-around center" layout-wrap layout-fill>

    <!-- <h2 class='page-title'>TROPE TUTORIALS</h2> -->
    <h3 class='page-subtitle'>connecting the culture of the curious</h3>

  </div>

  <!-- WERE USING MATERIAL FOR ANGULAR HERE
  THIS IS A ROW FORMAT EACH DIV THAT IS REPEATED
  FOR EACH TROPE THERE IS IN THE DATABASE SO EACH OPTION
  WILL BE UNIFORM IN SIZE AND RESPONSIVE ETC -->
  <div hide-sm class='gallery_container' layout="row" layout-align="space-around center"  layout-margin layout-padding layout-wrap>

    <!-- THIS WILL BE REPEATED FOR EACH TROPE IN THE GALLERY -->
    <div class="gallery_child" ng-repeat='trope in tropes' flex="20" flex-sm="80" layout-fill>
      <a ui-sref="Theatre.main({id: $index})"><h2 >{{trope.title}}</h2></a>
    </div>

  </div>

  <!-- FOR IPHONE AS THE SHOOW  HIDE ON SMALL ETC DOESN"T WORK - I"M DOING IT BOTH WAYS SO THAT IT WILL WORK THE MATERIAL WAY ON THE DEVICES IT WILL WORK ON -->
  <div hide-gt-sm class='gallery_container_phone' layout="column" layout-align="center center"  layout-margin layout-padding>

    <!-- THIS WILL BE REPEATED FOR EACH TROPE IN THE GALLERY -->
    <div class="gallery_child_phone" ng-repeat='trope in tropes' flex="70" layout-fill>
      <a ui-sref="Theatre.main({id: $index})"><h2 >{{trope.title}}</h2></a>
    </div>

  </div>

</div>
