<div class="page_container" id="overlays_container">

<div layout="column" layout-align="space-around end" layout-padding layout-fill class="overlay_text_container">

  <md-progress-linear class="md-warn" id="bufferloader" md-mode="buffer" value="{{scrollpercent}}" md-buffer-value="{{percentLoaded}}">
  </md-progress-linear>

<!-- <div>
  <h2>{{step}}</h2>
  <h2>{{scrollpercent}}   %</h2>
  <h2>{{percentLoaded}}  %</h2>
</div> -->



</div>

<!-- <div ng-show="showinfo" class='trope_info' class="overlay_text_container">

<h1>TEST</h1>


</div> -->


</div>
