<div id="tpl_home" >
<div class="page" id="home_page" >
	<!-- //ATTEMPT WITH MATERIAL
	<md-content>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>Toolbar with Icon Buttons</span>
			</h2>
			<span flex=""></span>
			<md-button class="md-icon-button" aria-label="Favorite">
				<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar> -->
	<!-- <md-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Menu">
					<md-icon md-svg-icon="media/assets/menu.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
	</md-content> -->

	<!-- <div class='home_menu'>
		<img src="media/assets/menu.svg"/>
	</div> -->

		<div id="title">
			<h1 id="main-title">{{socketmsg}}</h1>
			<!-- <h2 id="sub-title">v v v v v v<h2> -->
				<!-- <a  ng-click='startPlayState(0)'> V I D E O </a> -->
				<!-- <h3 class="galleryTitle" ng-click="goGallery()">TESTING REMOTE!</h3> -->
				<!-- PUT GALLERY CODE HERE -->

				<!-- <div class="gallery" ng-repeat="item in videos">
					<h3 class="galleryTitle" ng-click="startPlayState(item.id)">{{item.title}}</h3>
				</div> -->
		</div>
		<!-- <h4 ng-click="sendParse()">SEND TO PARSE</h4> -->
		<div ui-view class="home-gallery-container"></div>

</div>
</div>
